<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Pro</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round|Open+Sans">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>
	<body>
		<div class="app" id="app">
			<nav class="navbar is-fixed-top is-transparent">
				<div class="navbar-brand">
					<a @click.prevent="loadPage('homepage')" class="navbar-item logo">
						<span class="icon">
							<i class="fas fa-tasks"></i>
						</span>
						<span>Pro</span>
					</a>

					<div @click="toggleNav" v-bind:class="{ 'is-active': isNavOpen }" class="navbar-burger burger" data-target="thenav">
						<span></span><span></span><span></span>
					</div>
				</div>

				<div v-bind:class="{ 'is-active': isNavOpen }" id="thenav" class="navbar-menu">
					<div class="navbar-start">
						<a @click.prevent="loadPage('homepage')" class="navbar-item" href="/">Home</a>
						<a v-show="isLoggedIn" @click.prevent="loadPage('tasks')" class="navbar-item" href="/">Tasks</a>
					</div>

					<div class="navbar-end">
						<div class="navbar-item">
							<div class="field is-grouped">
								<p v-show="!isLoggedIn" class="control">
									<a @click.prevent="signupModal" class="button is-warning">
										<span class="icon">
											<i class="fas fa-user-plus"></i>
										</span>
										<span>Sign up</span>
									</a>
								</p>

								<p v-show="!isLoggedIn" class="control">
									<a @click.prevent="loginModal" class="button is-primary">
										<span class="icon">
											<i class="fas fa-sign-in-alt"></i>
										</span>
										<span>Login</span>
									</a>
								</p>

								<div v-show="isLoggedIn" class="navbar-item has-dropdown is-hoverable">
									<a class="navbar-link">${user.username}</a>
									<div class="navbar-dropdown is-boxed is-right">
										<a @click.prevent="loadPage('tasks')" class="navbar-item">Tasks</a>
										<hr class="navbar-divider">
										<a @click.prevent="logout" class="navbar-item">Logout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<keep-alive>
				<component v-bind:is="currentView"></component>
			</keep-alive>

			<div class="modals">
				<div v-show="isLoggedIn">
					<task-create-modal></task-create-modal>
					<task-edit-modal></task-edit-modal>

					<group-create-modal></group-create-modal>
					<group-edit-modal></group-edit-modal>
				</div>
				<div v-show="!isLoggedIn">
					<login-modal></login-modal>
					<signup-modal></signup-modal>
				</div>
			</div>
		</div>

		<!-- Pages -->
		<script type="text/template" id="homepage-template">
			<div class="page">
				<section class="hero is-primary">
					<div class="hero-body">
						<div class="container">
							<h2 class="subtitle">Welcome to the future of</h2>
							<h1 class="title">Productivity <span class="tag is-info">(the app)</span></h1>
							<p>Login to discover how <strong>Productive</strong> you really are!</p>
							<br>
							<p>
								<a @click.prevent="loginModal" class="button is-info"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login now</span></a>
								<span class="button is-blank">or</span>
								<a @click.prevent="signupModal" class="button is-warning"><span class="icon"><i class="fas fa-user-plus"></i></span> <span>Sign up for free!</span></a>
							</p>
						</div>
					</div>
				</section>

				<section class="section">
					<div class="container">
						<div class="content">
							<h1>Maintain Productivity</h1>
							<p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>

							<h2>Incredible Statistics</h2>
							<p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
							<ul>
								<li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
								<li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
								<li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
								<li>Ut non enim metus.</li>
							</ul>
						</div>
					</div>
				</section>

				<footer class="footer">
					<div class="container">
						<div class="content has-text-centered">
							<p>
								<strong>&copy;</strong> <span>2018</span>
								<strong>Productivity</strong> by <a href="https://haulnet.xyz">Haulnet</a>
							</p>
						</div>
					</div>
				</footer>
			</div>
		</script>

		<script type="text/template" id="taskspage-template">
			<div class="page">
				<section class="section">
					<div class="container is-fluid">
						
						<group-list></group-list>
					</div>
				</section>
			</div>
		</script>

		<!-- Groups -->
		<script type="text/template" id="group-list-template">
			<div class="group-list">
				<div class="columns is-multiline">
					<div v-for="group in groups" class="column is-half-tablet is-one-third-desktop">
						<div class="group">
							<div class="group-label">
								${group.label}
								<a @click.prevent="editGroup(group)" class="group-edit"><span class="icon"><i class="fas fa-pen-square"></i></span></a>
							</div>
							<task-list :group="group"></task-list>
						</div>
					</div>
				</div>
				<a @click.prevent="createNewGroup" class="add"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add Group</span></a>
			</div>
		</script>

		<script type="text/template" id="group-create-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Add new group</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<label class="label">Group label:</label>
								<div class="control">
									<input v-model="group.label" type="text" class="input" placeholder="Group label">
								</div>
							</div>
							<div class="control">
								<a @click.prevent="close" class="button is-danger"><span class="icon"><i class="fas fa-minus-circle"></i></span> <span>Cancel</span></a>
								<button class="button is-primary"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add</span></button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<script type="text/template" id="group-edit-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Edit group</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<label class="label">Group label:</label>
								<div class="control">
									<input v-model="group.label" type="text" class="input" placeholder="Group label">
								</div>
								<div class="control">
									<a @click.prevent="remove" class="button is-danger"><span class="icon"><i class="fas fa-trash-alt"></i></span> <span>Delete</span></a>
								</div>
							</div>
							<div class="control">
								<a @click.prevent="close" class="button is-danger"><span class="icon"><i class="fas fa-minus-circle"></i></span> <span>Cancel</span></a>
								<button class="button is-primary"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add</span></button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<!-- Tasks -->
		<script type="text/template" id="task-list-template">
			<ul class="tasks">
				<li v-for="task in tasks">
					<div @click.prevent="toggleTask(task)" v-bind:class="{ 'is-completed': task.completed }" class="task-item">${task.label}</div>
					<a @click.prevent="editTask(task)" class="task-edit"><i class="fas fa-pen-square"></i></a>
				</li>
				<li>
					<a @click.prevent="createNewTask" class="add"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add Task</span></a>
				</li>
			</ul>
		</script>

		<script type="text/template" id="task-create-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Add new task</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<label class="label">Task label:</label>
								<div class="control">
									<input v-model="task.label" type="text" class="input" placeholder="Task label">
								</div>
								<div class="control">
									<label class="label">
										Task Completed:
										<input v-model="task.completed" type="checkbox">
									</label>
								</div>
							</div>
							<div class="control">
								<a @click.prevent="close" class="button is-danger"><span class="icon"><i class="fas fa-minus-circle"></i></span> <span>Cancel</span></a>
								<button class="button is-primary"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add</span></button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<script type="text/template" id="task-edit-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Edit task</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<label class="label">Task label:</label>
								<div class="control">
									<input v-model="task.label" type="text" class="input" placeholder="Task label">
								</div>
								<div class="control">
									<label class="label">
										Task Completed:
										<input v-model="task.completed" type="checkbox">
									</label>
								</div>
								<div class="control">
									<a @click.prevent="remove" class="button is-danger"><span class="icon"><i class="fas fa-trash-alt"></i></span> <span>Delete</span></a>
								</div>
							</div>
							<div class="control">
								<a @click.prevent="close" class="button is-danger"><span class="icon"><i class="fas fa-minus-circle"></i></span> <span>Cancel</span></a>
								<button class="button is-primary"><span class="icon"><i class="fas fa-plus-circle"></i></span> <span>Add</span></button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<!-- Auth -->
		<script type="text/template" id="login-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Login</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<div class="control">
									<label class="label">Username:</label>
									<input v-model="creds.username" type="text" class="input" placeholder="Username">
								</div>
								<div class="control">
									<label class="label">Password:</label>
									<input v-model="creds.password" type="password" class="input" placeholder="Password">
								</div>
							</div>
							<div class="control">
								<button class="button is-primary"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></button>
								<span class="button is-dark is-blank">or</span>
								<a @click="signupModal" class="button is-white"><span class="icon"><i class="fas fa-user-plus"></i></span> <span>Sign up</span></a></span>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<script type="text/template" id="signup-modal-template">
			<div class="modal" v-bind:class="{ 'is-active': isActive }">
				<div @click="close" class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Sign Up</p>
						<button class="delete" aria-label="close" @click="close"></button>
					</header>
					<section class="modal-card-body">
						<form v-on:submit="send" class="form">
							<div class="field">
								<div class="control">
									<label class="label">Username:</label>
									<input v-model="creds.username" type="text" class="input" placeholder="Username">
								</div>
								<div class="control">
									<label class="label">Email:</label>
									<input v-model="creds.email" type="email" class="input" placeholder="Email">
								</div>
								<div class="control">
									<label class="label">Password:</label>
									<input v-model="creds.password" type="password" class="input" placeholder="Password">
								</div>
								<div class="control">
									<label class="label">Confirm:</label>
									<input v-model="creds.confirm" type="password" class="input" placeholder="Again">
								</div>
							</div>
							<div class="control">
								<button class="button is-warning"><span class="icon"><i class="fas fa-user-plus"></i></span> <span>Signup</span></button>
								<span class="button is-dark is-blank">or</span>
								<a @click="loginModal" class="button is-white"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></a></span>
							</div>
						</form>
					</section>
				</div>
			</div>
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>
